let mapleader = " "

set incsearch
set scrolloff=5
set ignorecase
set smartcase
set number
set relativenumber

set mini-ai
set ideajoin
set highlightedyank
set commentary
set NERDTree

nnoremap <leader>y "+y
xnoremap <leader>y "+y
nnoremap <leader>p "+p
xnoremap <leader>p "+P

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzzzv
nnoremap N Nzzzv
