@import "../../.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: Iosevka Extended;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  min-width: 0rem;
  min-height: 0rem;
}

tooltip {
  background: @color1;
  border-radius: 0.75rem;
}

.modules-left,
.modules-center,
.modules-right {
  background: @color1;
  border-radius: 0.75rem;
  margin: 0.5rem 0.5rem 0rem;
}

#custom-arch {
  margin: 0 0.5rem 0 1rem;
  font-size: 2rem;
}

#workspaces button {
  padding: 0.5rem 0.5rem;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.active {
  background: @color3;
  border-radius: 0.75rem;
  transition: background-color 0.5s ease;
}

#workspaces button:hover {
  background: @color2;
  border-radius: 0.75rem;
  box-shadow: inherit;
  text-shadow: inherit;
  transition: background-color 0.5s ease;
}

@keyframes blink {
  50% {
    background: @foreground;
  }
}

#workspaces button.urgent {
  background: @color5;
  color: @color1;
  border-radius: 0.75rem;
  animation: blink 2s linear 3;
}

#keyboard-state,
#idle_inhibitor {
  min-width: 2rem;
}

#keyboard-state label.locked {
  color: @color2;
}

#idle_inhibitor.activated {
  color: @color2;
}

#clock {
  margin: 0rem 0.75rem;
}

#tray {
  border-radius: 0.75rem;
  margin: 0rem 0rem 0rem 0.75rem;
}

#battery,
#pulseaudio,
#backlight,
#network,
#bluetooth,
#cpu,
#memory {
  margin-top: 0.25rem;
}

#battery.icon,
#pulseaudio.icon,
#backlight.icon,
#network.icon,
#bluetooth.icon,
#cpu.icon,
#memory.icon {
  margin: 0rem;
}

#battery.capacity,
#pulseaudio.volume,
#backlight.percent,
#network.name,
#bluetooth.status,
#cpu.usage,
#memory.percentage {
  margin: 0rem;
  font-size: 0.875rem;
  min-width: 3rem;
}

#battery.icon.charging {
  color: @color5;
}

#language,
#power-profiles-daemon {
  margin: 0rem 0.75rem;
  font-size: 1.25rem;
}

#custom-swaync {
  margin: 0rem 1rem 0rem 0.5rem;
  font-size: 1.25rem;
}
